@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  background: #151515;
}

.cover-container {
  max-width: 42em;
  background: #151515 url("../images/intro-bg-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.cover-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cover-container header, .cover-container main, .cover-container footer {
  z-index: 10;
}

.header {
  background: #151515 url("../images/intro-bg-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: "Playfair Display", serif;
}

.header .social {
  bottom: 50px;
}

.services {
  background: url("../images/intro-bg-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.services .container {
  z-index: 10;
}

textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .header .roles {
    font-size: 1.5rem;
  }
  .header {
    background: #151515 url("../images/intro-bg.jpg") no-repeat center center;
  }
}
/* Scroll Animation */
.scroller {
  max-width: 720px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse;
}

.scroller[data-direction=left] {
  --_animation-direction: forwards;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s;
}

.scroller[data-speed=slow] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
/* general styles */
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

/* Sparkles */
.star {
  position: fixed;
  pointer-events: none;
}

.star:before,
.star:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "✦";
  font-size: 12px;
}

.star:before {
  color: transparent;
  text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
  background: var(--bs-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
